[submodule "assignments/assignment02"]
	path = assignments/assignment02
	url = https://git.infotech.monash.edu/FIT2104-24160547/fit2104-ass2.git
[submodule "tutorials/tutorial-05"]
	path = tutorials/tutorial-05
	url = https://git.infotech.monash.edu/FIT2104-24160547/tut5.git
[submodule "tutorials/tutorial-06"]
	path = tutorials/tutorial-06
	url = https://git.infotech.monash.edu/FIT2104-24160547/tut6.git
